body {
  padding: 0;
  margin: 0;
  /* font-size: small; */
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(158, 157, 157);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  padding: 20px;
  text-align: center;
}

select {
  padding: 8px;
  margin-right: 20px;
  border-radius: 5px;
}

button {
  padding: 8px 30px;
  border-radius: 5px;
  border: none;
  background: rgb(0, 132, 255);
  color: #fff;
  font-weight: bold;
  transition: .3s;
}

button:hover {
  cursor: pointer;
  background: rgb(0, 119, 230);
}

button:focus {
  outline: none;
}

button:active {
  background: rgb(0, 68, 131);
}

.crimes {
  height: 70vh;
  overflow: auto;
  margin: 20px 0;
}

table{
  width: 99%;
  text-align: center;
  border-collapse: collapse;
  margin: 10px 0;
}
table tr th{
  padding: 10px;
  background: #f9f9f9;
  border: solid 1px #ccc;
}
table tr td{
  border: solid 1px #ccc;
}